#common
**/*.DS_Store
**/*.ipynb_checkpoints/
**/__pycache__
out/

data/SBMs/previous_data/*
previous_0405/*

*.pkl
result_0410/*

gmail.py

#SBM datasets
data/SBMs/*.pkl

#Superpixels datasets
data/superpixels/*.pkl
data/superpixels/*.zip
PATH/

#ZINC dataset
data/molecules/*.pkl
data/molecules/*.pickle
data/molecules/*.zip

#TSP
data/TSP/*.txt
data/TSP/*.pkl
data/TSP/*.zip
data/TSP/pyconcorde/
.idea/


